<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.absolutemaximumratings.androidfilesync"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".AndroidFileSync"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:label="@string/app_name" android:name=".WifiEnabledReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"></action>
            </intent-filter>
        </receiver>
        <service android:label="@string/app_name" android:name=".Synchronizer"></service>
        <activity android:name=".OverviewActivity"></activity>
        <activity android:name=".ServersActivity"></activity>
        <activity android:name=".FoldersActivity"></activity>
        <activity android:name=".ServerEditActivity"></activity>
        <activity android:name=".FolderEditActivity"></activity>

    </application>
</manifest>